@{
    ViewBag.Title = "Home Page";
}

@section head{
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHl5dXP8X8Rg8hTVhZ68MBlrJb-82SYGs&libraries=visualization&sensor=true_or_false">
</script>
<script type="text/javascript">
    /* Data points defined as an array of LatLng objects */
    var heatmapData = [
        { location: new google.maps.LatLng(38.029, 23.733), weight: 44 },
        { location: new google.maps.LatLng(37.972873, 23.693733), weight: 28 },
        { location: new google.maps.LatLng(37.971791, 23.714333), weight: 5 },
        { location: new google.maps.LatLng(38.013601, 23.742485), weight: 44 },
        { location: new google.maps.LatLng(38.005088, 23.744545), weight: 28 },
        { location: new google.maps.LatLng(38.026328, 23.823509), weight: 5 },
        { location: new google.maps.LatLng(37.996716, 23.793983), weight: 44 },
        { location: new google.maps.LatLng(37.990366, 23.757591), weight: 28 },
        { location: new google.maps.LatLng(37.945262, 23.743172), weight: 5 },
        { location: new google.maps.LatLng(37.980226, 23.739738), weight: 44 },
        { location: new google.maps.LatLng(37.913849, 23.737679), weight: 28 },
        { location: new google.maps.LatLng(37.931182, 23.699913), weight: 5 },
    ];



      function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(38.026314, 23.722229),
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData,
            radius: 30,
            opacity:0.9
        });

        heatmap.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
}

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://ppcdn.500px.org/69936919/cd9cc30beb5753f54f2f3ec84538281d60c5b612/2048.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="semitransparentBackground">Breathe Easy!!</h1>
                    <p class="semitransparentBackground">Affordable air quality measurements for residential and industrial use</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Get your device today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="http://ppcdn.500px.org/69915193/beec762412cfc90245fe6ac25cdc545368e5a204/5.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="semitransparentBackground">Mobile, connected, Accurate</h1>
                    <p class="semitransparentBackground">Our attachable device is energy efficient and accurate. Attach it anywhere and get air quality updates instantly</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="http://ppcdn.500px.org/69887359/365d18ac9589847abab3fa549a5292a678a78254/2048.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="semitransparentBackground">One more for good measure.</h1>
                    <p class="semitransparentBackground">Historical data on air quality - geolocated and ever present</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

    <div class="row">
        <h2 class="text-center">WHAT WE DO</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Aerables Devices</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Aerables Everywhere</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-md-4">
            <h2>Aerables participate</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">FIND A PLACE NEAR YOU</h2>
    </div>
    <div class="row">
        <!--
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1594422.0494868504!2d23.080543213678215!3d38.69241932007668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sel!2sgr!4v1399712553179" width="100%" height="600" frameborder="0" style="border:0"></iframe>
        -->

        <div id="map-canvas" style="height:500px;" />

    </div>

    <div class="row">
        <h2 class="text-center">ABOUT US</h2>
    </div>
    <section style="border:1px solid #aaa;" id="about">
        <div class="container">
            <div class="row">
                <div data-wow-delay="0.5s" style="text-align:center" class="col-sm-2 wow fadeInRight animated" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
                    <img alt="About Image" class="img-responsive" src="http://thewhiskywoman.files.wordpress.com/2012/11/geek.jpg?w=480">
                </div>
                <div data-wow-delay="0.5s" class="col-sm-10 wow fadeInLeft animated" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
                    <h3 class="color">Our Special Powers</h3>
                    <hr class="hr-color">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et purus sapien. Mauris malesuada ligula ut libero vehicula porttitor. Proin eu turpis ac felis tincidunt ultrices. Nulla mattis, leo consectetur cursus blandit, dui eros dignissim elit, auctor rhoncus quam ligula a quam. Nam id lorem vitae lorem gravida aliquet et eu ante. Proin ornare urna ut felis sodales tempus. Proin ut nisi aliquet nisl hendrerit vehicula. Aenean volutpat mi vel rhoncus hendrerit. In eu eleifend elit, in gravida leo.</p>
                    <p>Lorem ipslorem gravida aliquet et eu ante. Proin ornare urna ut felis sodales tempus. Proin ut nisi aliquet drerit, leo consectetur cursus blandit, dui eros dignissim elit, auctor rhoncus quam ligula a quam. Nam id lorem vitae vehicula. Aenean volutpat mi vel rhoncus hendrerit. In eu eleifend elit, in gravida leo.</p><br>
                    <a class="btn btn-default btn-lg" href="#"><i class="fa fa-envelope-o"></i> Say Hello</a>
                </div>
            </div>

        </div>
    </section>