
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p class="text-success">Επιλέξτε το AERABLE που θέλετε</p>
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">AERABLE 1 <span class="btn btn-default glyphicon glyphicon-heart pull-right"></span><span class="btn btn-default glyphicon glyphicon-star pull-right"></span></h4>
                <p class="list-group-item-text">Πανεπιστήμιο Αιγαίου</p>
                <span class="label label-success">active</span>
                <span class="label label-primary">connected</span>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">AERABLE 2 <span class="btn btn-default glyphicon glyphicon-heart pull-right"></span><span class="btn btn-default glyphicon glyphicon-star pull-right"></span></h4>
                <p class="list-group-item-text">The BOX</p>
                <span class="label label-danger">inactive</span>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">AERABLE 3 <span style="color: #FFCF40" class="glyphicon glyphicon-warning-sign"></span> <span class="btn btn-default glyphicon glyphicon-heart pull-right"></span><span class="btn btn-default glyphicon glyphicon-star pull-right"></span></h4>
                <p class="list-group-item-text">Στο αμάξι μου</p>
                <span class="label label-success">active</span>
                <span class="label label-warning">not connected</span>
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Προσθήκη νέου</button>
    </div>
</div>